span {
  font-weight: bold;
  border: 1px solid blue;
  background-color: lightblue;
}

span:nth-of-type(1) {
  /* visibility: hidden; */
}

span:nth-of-type(2) {
  width: 100px;
  height: 50px;
  /* display: none; */
}

span {
  display: block;
}